doctype 5
html
	head
		title= tags.title
		meta(name="description", content="#{tags.description}")
		meta(name="og:image", content="#{tags.og_image}")
		meta(name="og:image:type", content="#{tags.og_image_type}")
		meta(name="og:image:width", content="#{tags.og_image_width}")
		meta(name="og:image:height", content="#{tags.og_image_height}")
		meta(name="og:title", content="#{tags.og_title}")
		meta(name="og:url", content="#{tags.og_url}")
		meta(name="og:site_name", content="#{tags.og_site_name}")
		meta(name="og:type", content="#{tags.og_type}")
		link(rel="canonical", href="#{tags.og_url}")
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href='http://fonts.googleapis.com/css?family=Neucha', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/foundation.css')
		link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/csh.css')
		script(type="text/javascript", src="js/vendor/modernizr.js")
		include shared/_ga_head

	body
		div.fixed
			nav.top-bar(data-topbar, data-options="is_hover: false")
				ul.title-area
					li.name
						h1
							a(href="index.html") CS Henley
					li.toggle-topbar.menu-icon
						a(href="#")
                    
				section.top-bar-section
					ul.left
						li
							a(href="the_alderman.html") The Alderman
						li
							a(href="http://blog.endleland.com", 
								onClick="outbound_link(this, 'Outbound Links', 'blog.endleland.com'); return false;") Blog
						li
							a(href="about.html") About
		header
			img.banner(src="images/csh_head.jpg", data-interchange="[images/csh_head.jpg, (default)], [images/csh_head_small.jpg, (small)], [images/csh_head.jpg, (medium)]")	
			div.social(class="fb-like", data-href="https://www.facebook.com/endleland", 
				data-layout="box_count", data-action="like", data-show-faces="true", 
				data-share="true", data-colorscheme="dark")

		!= yield
		script(type="text/javascript", src="js/vendor/jquery.js")
		script(type="text/javascript", src="js/foundation.min.js")
		script(type="text/javascript", src="js/foundation/foundation.topbar.js")
		script.
			$(document).foundation();
		include shared/_ga
		include shared/_fb