doctype 5
html
	head
		title= tags.title
		meta(name="description", content="#{tags.description}")
		meta(name="og:image", content="#{tags.og_image}")
		meta(name="og:image:type", content="#{tags.og_image_type}")
		meta(name="og:image:width", content="#{tags.og_image_width}")
		meta(name="og:image:height", content="#{tags.og_image_height}")
		meta(name="og:title", content="#{tags.og_title}")
		meta(name="og:url", content="#{tags.og_url}")
		meta(name="og:site_name", content="#{tags.og_site_name}")
		meta(name="og:type", content="#{tags.og_type}")
		link(rel="canonical", href="#{tags.og_url}")
		meta(name="viewport", 
			content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    
		link(href='http://fonts.googleapis.com/css?family=Neucha', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/csh.css')
		link(rel='stylesheet', type='text/css', media='screen and (max-device-width: 480px)', 
			href='stylesheets/mobile.css')
		include shared/_ga_head

	body
		div#head
			img.web(src="images/csh_head.jpg", height="auto", width="100%")
			img.mobile(src="images/mobile_head_1.jpg", height="auto", width="100%")
			div.social(class="fb-like", data-href="https://www.facebook.com/endleland", 
				data-layout="box_count", data-action="like", data-show-faces="true", 
				data-share="true", data-colorscheme="dark")
			div#menu
				ul
					li 
						a(href="index.html") home
					li
						a(href="the_alderman.html") The Alderman
					li
						a(href="http://blog.endleland.com", 
							onClick="outbound_link(this, 'Outbound Links', 'blog.endleland.com'); return false;") blog
					li
						a(href="about.html") about
				div.clear
		!= yield
		include shared/_ga
		include shared/_fb