div#book_page
	div.row
		div.large-3.columns.book_cover
			img(src="/images/#{book.cover_preview}", 
					alt="The Alderman book cover", width="212", height="303")
		div.large-2.columns.book_credits
			h1 #{book.title}
			h3 by #{book.author}
			div.buy_button
				a(href="#", data-reveal-id="buy_form", data-reveal) buy
			div#buy_form.reveal-modal.medium(data-reveal)
				include _buy_form
				a.close-reveal-modal &#215;
			
		div.large-7.columns
			h2 Synopsis
			!= book.synopsis
	div.row
		div.large-5.columns
			h2 Description
			dl
				dt 
					span ISBN
				dd #{book.ISBN}
				dt 
					span Date First Published
				dd #{book.first_published}
				dt 
					span Current Edition
				dd #{book.current_edition}
				dt 
					span Cover
				dd #{book.cover_type}
				dt 
					span Dimensions
				dd #{book.dimensions}
				dt 
					span Pages
				dd #{book.pages}
				dt 
					span Editors
				dd #{book.editors}
				dt 
					span Cover Art, Title Art
				dd #{book.cover_art}
				dt 
					span Illustrations
				dd #{book.illustrations}

